body {
    font-family: 'Alegreya Sans SC', serif;
    background-image: url('../images/concrete_seamless.png');
    background-color: #f1f1f1;
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
}

header {
    display: flex;
    /* align-items: stretch; */
    /* align-items: center; */
    align-items: center;
    flex-direction: column;
    z-index: 100;
    position: sticky;
    top:0;
}

.nav_links:visited {
    color: inherit;
  }

.nav_links{
    display: flex;
    flex-direction: column;
}

.card header{
    z-index: 10;
    background: #288088;
    border: 2px solid #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.pricing{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card, .card_big{
    /* display: flex;
    flex-wrap: wrap;
    align-items: stretch; */
    flex-basis: 450px;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.gallery img{
    border: 10px solid #50C7C7;
    margin: 10px 10px 10px 10px;
    width: 300px;
}

@keyframes logo_animate{
    0% {width: 50px; opacity: 0;}
    100% {width: 425px; opacity: 1;}
}

#logo {
    animation: logo_animate 5s none;
}

@media screen and (min-width: 850px){
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: sticky;
        top: 0;
    }
    .nav_links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .card{
        flex-basis: 250px;
    }

}
@media (prefers-reduced-motion) {
    #logo{
        animation: none;
    }
}

@media print {
    body{
        background-image: none;
    }
    
    nav{
        width: 100%;
    }

    .nav_links{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .pricing{
        display: flex;
        align-items: flex-end;
        flex-wrap: nowrap;
        flex-flow: row;
    }

    .card header{
        position: relative;
        display: flex;
        border: 2px solid #45ADAD;
        width: 250px;
    }
    .card{
        position: absolute;
        bottom: 0;
    }

    #gallery{
        /* visibility: hidden; */
        display: none;
    }
}